.wide_container{
    margin: 20px auto;
    max-width: 1400px;
}

.user_ident{
    max-width: 400px;
}

.user_top{
    margin: 25px;
    margin-bottom: -80px;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.user_top .pfp{
    width: 140px;
    height: 140px;
    display: block;
    position: relative;
}

.user_top .pfp img{
    width: 140px;
    height: 140px;
    display: block;
    clip-path: polygon(3% 3%, 100% 0%, 98% 96%, 0% 100%);
}

.user_top .pfp::before{
    content: '';
    z-index: -1;
    transform: scale(0.95) translateX(9px) translateY(9px);
    position: absolute;
    width: 140px;
    height: 140px;
    display: block;
    clip-path: polygon(3% 3%, 100% 0%, 98% 96%, 0% 100%);
    background-color: var(--hl_prim);
}

.user_top .name{
    font-family: Chinese Rocks;
    font-size: 60px;
    margin-left: 15px;
    white-space: nowrap;
}

.user_top .name::before{
    content: '@';
    font-size: smaller;
    margin-right: 2px;
    color: var(--hl_prim)
}

.ident_info{
    background-color: var(--dark);
    clip-path: polygon(0% 4%, 100% 0%, 98% 96%, 2% 100%);
    padding: 20px 25px;
    padding-top: 75px;
    /* Optional? Dunno, looks cool! */
    /* border-bottom: 8px solid var(--hl_prim); */
}

.tagline{
    margin-top: 20px;
    opacity: 0.9;
}

/* .tagline::before{
    display: block;
    content: '— Who is';
    opacity: 0.5;
    font-weight: bold;
    font-family: Chinese Rocks;
    font-size: 20px;
} */

/* Post area */
.post_area{
    margin-top: 50px;
    max-width: 600px;
}

.post{
    position: relative;
    padding: 0 80px 0 50px;
    display: grid;
    margin: 50px 0;
}

.post .backdrop{
    position: absolute;
    background-color: var(--dark);
    left: 20px;
    top: 0;
    width: calc(100% - 75px);
    height: 100%;
    z-index: -1;
    clip-path: polygon(25px 0px, 100% 8px, calc(100% - 10px) calc(100% - 15px), 5px 100%);
}

.post .content{
    background-color: var(--not_so_dark);
    margin: -20px -80px -10px -50px;
    padding: 35px 28px 15px 28px;

    clip-path: polygon(0px 20px, 100% 8px, calc(100% - 10px) calc(100% - 5px), 5px 100%);
}

.post .content img{
    max-width: 100%;
}

.post .user_info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

.post .user_info::before{
    content: "";
    clip-path: polygon(100% 0, 49% 50%, 100% 100%);
    position: absolute;
    background-color: var(--dark);
    top: 4px;
    left: -60px;
    height: 60px;
    width: 50px;
}

.post .pfp{
    position: relative;
    margin: 12px;
    margin-right: 25px;
    transform: scale(1.6) translateY(-10px);
}

.post .pfp img{
    width: 40px;
    height: 40px;
    display: block;
}

.post .pfp::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--hl_prim);
    transform: translate(3px, 3px) rotate(2deg); /* Positive value for roation might look better */
}

.post .author{
    font-family: Chinese Rocks;
    font-size: 30px;
}

.post .author::before{
    content: "@";
    font-size: 16px;
    margin-right: 2px;
    color: var(--hl_prim);
}

.post .time{
    margin: 5px;
    margin-left: auto;
    cursor: pointer;
}

.post .time:hover{
    text-decoration: underline;
}

.post .interact{
    margin: 20px 0px;
}

.post .cont_image{
    background-color: var(--bg_side);
    margin: 0 -70px 0 -40px;
    display: block;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    border-left: 7px solid var(--light);
    padding-left: 4px;
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 5px 100%);
}

.post .cont_image img{
    max-width: 100%;
    max-height: 70vh;
    min-height: 200px;
    display: block;
    margin: auto;
}